:root {
  --white: #FFFFFF;

  --black: #000000;

  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-650: #454545;
  --gray-700: #0D0D0D;
  
  --purple: #8284FA;
  --purple-dark: #5E60CE;

  --blue: #4EA8DE;
  --blue-dark: #1E6F9F;

  --danger: #E25858;
}

:focus {
  outline: transparent;
  /* box-shadow: 0 0 0 2px var(--green-500); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tamanho de iPad */
@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

/* tamanhos mobile principalmente */
@media (max-width: 720px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

body {
  background: var(--gray-650);
  color: var(--gray-300);

  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem; /* 16px é a medida padrão (base) */
}

button {
  border: 0;

  cursor: pointer;
}

a {
  color: inherit; /* assume a cor do texto do elemento que estiver em volta dele */
  text-decoration: none;
}